# Node.js dependencies
node_modules/

# Environment variables
.env

# SSL certificate (Aiven CA)
ca.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Excel files (optional, if you don’t want to upload your data)
Socks.xlsx
